{% extends "bbdir/base.html" %}
{% block title %}{{ block.super }} Bookbinders{% endblock title %}
{% block content %}
    <h2>Binder Entries</h2>
    <ul>
        
        {% for entry in object_list %}
            <li><a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a> - {{ entry.location }} </li>
        {% endfor %}
    </ul>
    

    {% if is_paginated %}
        <div class="pagination">Pages
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href="{% url entry-list page_obj.paginator.on %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="{% url entry-list page_obj.paginator.on %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
            
            {% if page_obj.paginator.chunks %}
            {% for chunk in page_obj.paginator.chunks %}
                {{ chunk.key }}{{ chunk.page_num }}
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    
    {% comment %}
    {% for p in page.paginator.pages %}
          {% if p == page %}  <span class="selected">{{ p }}</span> 
          {% else %}     <a href="?page={{ p.number }}">{{ p }}</a> 
          {% endif %}
        {% endfor %}
     {% endcomment %}

{% endblock %}